.container {
    display: flex;
    justify-content: center;
    position: relative;    
    top: 100px ;
    height: 600px;
    width: 100%;
}
.aboutme{
    display: flex;
    position: absolute;
    top: 0px;
    left: 22.5%;
    color: #443DCD;  
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 35px;
    font-weight: 500;
    transition: 0.3s;
}

.aboutme::after{
    content: "";
    display: block;
    position: relative;
    top: 30px;
    left: 1%;
    width: 300px;
    height: 1px;
    margin-left: 20px;
    background-color: #ccd6f6;
    opacity: 0.1;
}

.about{
    position: absolute;
    left: 22.5%;
    top: 90px;
    text-align:  start;
    max-width: 490px;
    color: #8892b0;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
    font-weight: 100;
}

.divphoto{
  position: absolute;
  width: 400px;
  height: 400px;
  background-color: #242942;
  left: 58%;
  top: 110px;
  border-radius: 50%;
  overflow: hidden;
}
.divphoto::before{
    content: '';
    position: absolute;
    inset: -10px 140px;
    background: linear-gradient(315deg, #443DCD, #00ccff);
    transition: 0.5s;
    animation: animate 4s linear infinite;
}
.divphoto:hover::before{
    inset: -20px 0px;
}

@keyframes animate {
    0%{
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}

.divphoto::after{
    content: '';
    position: absolute;
    inset: 6px;
    background: #0d1117;
    border-radius: 50%;
}

.content {
  position: absolute;
  inset: 30px;
  border: 6px solid #242942;
  z-index: 3;
  border-radius: 50%;
  overflow: hidden;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.content img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    pointer-events: none;
}

.divphoto:hover .content img{
    opacity: 0;
}

.content h2 {
    color: #ccd6f6;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 100;
}

.content p {
  background-color: none;
  padding: 10px 10px;
  border: 1px solid #443DCD;
  border-radius: 4px;
  color: #ccd6f6;
  transition: 0.4s;
  cursor: pointer;
}

.content p:hover{
  background-color: #443DCD;
}

.stack{
    position: absolute;
    left: 22.5%;
    top: 410px;
    text-align:  start;
    color: #443DCD;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.stacklist {
    position: absolute;
    top: 460px;
    left: 21.5%;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    font-weight: 100;
    color: #ccd6f6;
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 200px));
    gap: 0px 10px;
    padding: 0px;
    margin: 20px 0px 0px;
    overflow: hidden;
    list-style: none;
    text-align: start;
}

.stacklist li {
    margin-bottom: 10px;
    padding-left: 20px;
}
.get {
    cursor: pointer;
}

@media (max-width : 1400px){
     .divphoto{
        width: 300px;
        height: 300px;
        left: 70%;
     }
     .divphoto::before{
        inset: -10px 110px;
     }
}

@media (max-width : 1045px){
   .aboutme {
     left: 3%;
   }
   .aboutme::after{
    width: 70vw;
   }
   .about{
    left: 3%;
    max-width: 100%;
   }
   .stack{
    left: 3%;
    top: 300px ;
   }
   .stacklist{
    left: 1%;
    top: 350px;
   }
   .divphoto{
    left: 60%;
    top: 350px;
   }
}

@media (max-width: 760px) {
    .divphoto{
        left: 30%;
        top: 550px;
    }
}

@media (max-width : 685px){
    .aboutme::after{
        width: 60vw;
    }
    .stack{
     top: 370px;
    }
    .stacklist{
        top: 420px;
    }
}
@media (max-width : 515px){
    .aboutme::after{
        width: 50vw;
    }
    .stack{
     top: 420px;
    }
    .stacklist{
        top: 480px;
    }
    .divphoto{
        left: 20vw;
        top: 650px;
    }
}

@media (max-width : 440px) {
    .aboutme::after{
        width: 40vw;
    }
    .stack{
        top: 440px;
       }
       .stacklist{
           top: 520px;
       }
       .divphoto{
           left: 11%;
           top: 670px;
       }
       .divphoto::before { 
        inset: -10px 110px;
       }
}