.hello {
    position: absolute;
    left: 250px;
    top: 260px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 17px;
    font-weight: 100;
    color: #ffffff;
    letter-spacing: 1px;
}
.name {
    position: absolute;
    left: 240px;
    top: 200px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 100px;
    color: #443DCD;
    font-weight: 500;
}

.area {
    position: absolute;
    left: 250px;
    top: 430px;
    color: #8892b0;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
    font-weight: 100;
}

.area2 {
    position: absolute;
    left: 250px;
    top: 460px;
    color: #8892b0;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
    font-weight: 100;
}

.github {
    color: #ffffff;
    position: absolute;
    left: 250px;
    top: 550px;
    font-size: 30px;
    transition: 0.3s;
} 
.github:hover {
   color: #443DCD;
}

.linkedin {
    color: #ffffff;
    position: absolute;
    left: 290px;
    top: 550px;
    font-size: 30px;
    transition: 0.3s;
}
.linkedin:hover {
    color: #443DCD;
}

.instagram {
    color: #ffffff;
    position: absolute;
    left: 330px;
    top: 550px;
    font-size: 30px;
    transition: 0.3s;
}
.instagram:hover {
    color: #443DCD;
}

.cv {
    font-family: 'Noto Sans KR', sans-serif;
    color: #443DCD;
    background-color: #0d1117;
    border: solid 2px #443DCD;
    position: absolute;
    left: 650px;
    top: 545px;
    width: 150px;
    height: 40px;
    font-size: 20px;
    border-radius: 8px;
    cursor: pointer;
    letter-spacing: 1px;
    transition: 0.4s;
}
.cv:hover {
    background-color: #443DCD;
    color: #ffffff;
}

.download {
    position: relative;
    top: 3px;
}

.back {
    color: #ffffff;
    padding-bottom: 0.25rem;
    position: relative;
}
.back::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #443DCD;
    transition: width 0.25s ease-out;
}

.back:hover::before{
    width: 100%;
}

.location{
    color: #F4D03F;
    padding-bottom: 0.25rem;
    position: relative;
    transition: 0.25s;
}

.location::before{
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #5DADE2;
    transition: all 0.25s ease-in-out;
}

.location::after{
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    width: 0;
    height: 2px;
    background-color: #5DADE2;
    transition: all 0.25s ease-in-out;
}

.location:hover::before{
    width: 100%;
    left: 0%;
} 

.location:hover::after{
    width: 100%;
    left: 0%;
} 

.location:hover{
  color: #ffffff;
}

/* #4169E1 */
