.container {
    width: 100%;
    height: 800px;
}
.hello {
    position: absolute;
    left: 13.5%;
    top: 260px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 17px;
    font-weight: 100;
    color: #ffffff;
    letter-spacing: 1px;
}
.name {
    position: absolute;
    left: 13%;
    top: 240px;
    font-family: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
    letter-spacing: -1px;
    font-size: 70px;
    color: #443DCD;
    font-weight: 500;
    text-align: start;
}

.callme{
    position: absolute;
    top: 400px;
    left: 13%;
    font-family: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
    color: #ccd6f6;
    font-size: 12px;
}

.area {
    position: absolute;
    left: 13%;
    top: 430px;
    color: #8892b0;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
    font-weight: 100;
    text-align: start;
}

.github {
    color: #ffffff;
    position: absolute;
    left: 13%;
    top: 550px;
    font-size: 30px;
    transition: 0.3s;
} 
.github:hover {
   color: #443DCD;
}

.linkedin {
    color: #ffffff;
    position: absolute;
    left: 15.2%;
    top: 550px;
    font-size: 30px;
    transition: 0.3s;
}
.linkedin:hover {
    color: #443DCD;
}

.instagram {
    color: #ffffff;
    position: absolute;
    left: 17.4%;
    top: 550px;
    font-size: 30px;
    transition: 0.3s;
}
.instagram:hover {
    color: #443DCD;
}

.cv {
    font-family: 'Noto Sans KR', sans-serif;
    color: #443DCD;
    background-color: transparent;
    border: solid 2px #443DCD;
    position: absolute;
    left: 34%;
    top: 545px;
    width: 150px;
    height: 40px;
    font-size: 20px;
    border-radius: 4px;
    cursor: pointer;
    letter-spacing: 1px;
    transition: 0.4s;
}
.cv:hover {
    background-color: #443DCD;
    color: #ffffff;
}

.download {
    position: relative;
    top: 3px;
}

.back {
    color: #ffffff;
    padding-bottom: 0.25rem;
    position: relative;
}
.back::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #443DCD;
    transition: width 0.25s ease-out;
}

.back:hover::before{
    width: 100%;
}

.location{
    color: #F4D03F;
    padding-bottom: 0.25rem;
    position: relative;
    transition: 0.25s;
}

.location::before{
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #5DADE2;
    transition: all 0.25s ease-in-out;
}

.location::after{
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    width: 0;
    height: 2px;
    background-color: #5DADE2;
    transition: all 0.25s ease-in-out;
}

.location:hover::before{
    width: 100%;
    left: 0%;
} 

.location:hover::after{
    width: 100%;
    left: 0%;
} 

.location:hover{
  color: #ffffff;
}

/* #4169E1 */

.select {
    position: absolute;
    top: 550px;
    left: 43.4%;
    padding: 5px 5px;
    background-color: #8892b0;
    border-radius: 4px;
    font-family:'Noto Sans KR', sans-serif;
    cursor: pointer;
    transition: 0.4s;
}
@media (max-width: 1625px) {
    .select {
        left: 34%;
        top: 595px;
    }
}

@media (max-width: 1390px) {
    .linkedin{
        left: 13%;
        top: 590px;
    }
    .instagram {
        left: 13%;
        top: 640px;
    }
}

@media (max-width: 664px){
    .name{
        position: absolute;
        font-size: 60px;
        left: 12.7%;
        max-width: 400px;
    }
    .callme{
        position: absolute;
        top: 450px;
    }
    .area{
        top: 470px;
    }
    .cv{
        top: 565px;
        left: 50%;
    }
    .select{
        top: 625px;
        left: 50%;
    }
    .github{
        top: 570px;
    }
    .linkedin{
        top: 620px;
    }
    .instagram{
        top: 670px;
    }
}

@media (max-width : 611px) {
    .cv{
        top: 605px;
    }
    .select{
        top: 665px;
    }
    .github{
        top: 610px;
    }
    .linkedin{
        top: 660px;
    }
    .instagram{
        top: 710px;
    }
}

@media (max-width : 561px) {
    .hello{
        left: 6%;
    }
    .area{
        top: 490px;
        left: 6%;
    }
    .name{
        left: 6%;
    }
    .callme{
        left: 6%;
    }
    .cv{
        top: 645px;
    }
    .select{
        top: 705px;
    }
    .github{
        top: 650px;
        left: 5%;
    }
    .linkedin{
        top: 700px;
        left: 5%;
    }
    .instagram{
        top: 750px;
        left: 5%;
    }
}