.contact {
    position: relative;
    top: 1050px;
    height: 1000px;
}

.projects {
    position: absolute;
    top: -35px;
    left: 263px;
    color: #443DCD;  
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 35px;
    font-weight: 500;
}

.projects::after{
    content: "";
    display: block;
    position: relative;
    top: -20px;
    left: 290px;
    width: 420px;
    height: 1px;
    margin-left: 20px;
    background-color: #ccd6f6;
    opacity: 0.1;
}

.videogamesapp {
    width: 580px;
    height: 360px;
    position: absolute;
    top: 100px;
    left: 416px;
    border-radius: 8px;
    filter: grayscale(100%);
    transition: 0.4s;
    cursor: pointer;
}
.videogamesapp:hover{
    filter: grayscale(0%);
}

.fitfocus {
    width: 580px;
    height: 360px;
    position: absolute;
    top: 550px;
    left: 416px;
    border-radius: 8px;
    filter: grayscale(100%);
    transition: 0.4s;
    cursor: pointer;
}
.fitfocus:hover{
    filter: grayscale(0%);
}

.listvideogames {
    position: absolute;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    color: #443DCD;
    top: 345px;
    left: 1020px;
    list-style: none;
    display: flex;
}

.listvideogames li {
    margin: 0 0 15px 15px;
}

.listfitfocus {
    position: absolute;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    color: #443DCD;
    top: 765px;
    left: 1110px;
    list-style: none;
    display: flex;
}
.listfitfocus li {
    margin: 0 0 15px 15px;
}

.container {
    display: block;
    position: relative;
    box-shadow: 0 10px 30px -15px rgba(2,12,27,0.7);
    background-color: #141a24;
    width: 500px;
    height: 120px;
    margin-bottom: 300px;
    border-radius: 5px;
    top: 210px;
    left: 1050px;
}

.name {
  position: relative;
  max-width: 200px;
  text-align: end;
  top: -50px;
  left: 300px;
  font-family: 'Reem Kufi Ink', sans-serif;
  font-size: 25px;
  color: #ccd6f6;
}

.des{
    max-width: 480px;
    text-align: end;
    position: relative;
    top: -50px;
    color: #8892b0;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 100;
}

span {
    color: #443DCD;
}

a {
    text-decoration: none;
}